/* =========================================== common css start ============================================================= */
*{
  padding: 0;
  margin: 0;
}
.font_work{
font-family: 'Work Sans', sans-serif;
}
.font_pop{
  font-family: 'Poppins', sans-serif;
}
.font_l{

  font-weight: 300;
}
.font_r{
  font-weight: 400;
}
.font_m{
  font-weight: 500;
}
.font_sb{
  font-weight: 600;
}
.font_12{
  font-size: 12px;
}
.font_14{
  font-size: 14px;
}
.font_16{
  font-size: 16px;
}
.font_18{
  font-size: 18px;
}
.font_20{
  font-size: 20px;
}
.font_24{
  font-size: 24px;
}
.font_32{
  font-size: 32px;
}
.font_38{
  font-size: 38px;
}
.font_48{
  font-size: 48px;
}
.font_72{
  font-size: 72px;
}
ul,ol{
  padding: 0;
  list-style: none;
}
address{
  margin-bottom: 0;
}
a{
  text-decoration: none;
}
.custom_btn{
  background-color: #A53DFF;
  padding: 14px 24px;
  border-radius: 4px;
  display: inline-block;
}
.custom_btn a{
    color: #FFF
  }
/* =========================================== common css end ============================================================= */
.navbar{
  position: absolute;
  width: 100%;
  top: 65px;
  transform: translateY(-50px);

}
nav ul {
  column-gap: 48px;
}
nav ul li:last-child{
  margin-right: 24px;
}
nav ul li a{
 color: #333333;
}






.myself {
  margin-top: 126px;
  padding-bottom: 191px;
}
.myself .intro h1 {
 width: 438px;
 margin-top: 22px;
}
.myself .intro p {
 width: 650px;
 padding:24px 0px 12px 0px ;
 color: #556070;
}
.myself .main {
 display: flex;
 column-gap: 2px;
 margin-top: 142px;
}
.myself .main .item {
background-color: #EDD8FF;
text-align: center;
padding: 17px 45px;
}
.myself .main .item h2 {
color: #424E60;
}
.myself .main .item h3 {
color: #697484;
}
.myself .dp {
text-align: center;
}




#about{
  background-color: #F0F1F3;
}
  
#about .custom_banner{
  background-color: #FFFFFF;
  border-radius: 16px;
  
}
#about .custom_banner .about_img{
  padding: 112px 136px 148px 112px;
}
.about_img{
  position: relative;
}
.about_icons{
  position: absolute;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  bottom: 111px;
  left: 197px;
  box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  /* transform: translateY(-50%,-50%); */
  
}
.about_icons i{
 color: #A53DFF;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
  transition: .4s;
}
.about_icons i:hover{
  background-color: #A53DFF;
  color: #FFFFFF;
}
#about .custom_banner .content h2{
  width:536px ;
  color: #132238;
}
  
#about .custom_banner .content p{
  width:536px ;
  color: #87909D;
}
#about .custom_banner .content {
    margin-top: 164px;
}
.custom_btn2{
  display: inline-block;
  border: 2px solid #A53DFF;
  border-radius: 4px;
  margin-left: 24px;
  
  
}
  .custom_btn2 a{
    color: #A53DFF;
    padding: 12px 24px;
    display: inline-block;
  }
  




  .flex_d{
    display: flex;
    align-items: center;
  }
  .item {
    column-gap: 13px;
   
  }
  .item .custom_item{
    background-color: #FFFFFF;
   border-radius: 16px;
    padding: 24px;
    }
  .item .custom_item h3{
    margin-top: 32px;
    color: #132238;
    }
  .item .custom_item p{
    color: #556070;
    }
  .item .custom_item:hover{
    box-shadow: 32px 32px 124px rgba(43, 56, 76, 0.1);
    }
  .item .custom_mrgn{
    margin-top: 28px;
    }
  
  .work_process{
    padding: 160px 0px 140px 0px;
  }
  .work_process .process p{
    width: 529px;
  }





  .portfolio  {
    background-color: #ECEEF1;
  }
  .portfolio .content{
    text-align: center;
  }
  .portfolio .content h2{
   padding: 100px 0px 24px 0px;
   color: #132238;
  }
  .portfolio .content p{
   width: 577px;
   color: #87909D;
   margin: 0 auto;
   padding-bottom: 70px;
  }
  .portfolio .portfolio_images .main{
    /* background-color: #fff; */
  }
  .portfolio .portfolio_images .images_content{
    padding: 32px;
    background-color: #fff;
  }
  .portfolio .portfolio_images img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  .portfolio .portfolio_images .images_content h4{
    padding: 4px 0px 12px 0px;
  }
  .portfolio .portfolio_images .images_content h5,h6{
   color: #87909D;
  }
  .portfolio .portfolio_images .images_content a{
   padding: 12px 24px;
   border: 1px solid #A53DFF;
   border-radius: 4px;
  }
  .portfolio .portfolio_images .images_content .case_icons {
   margin-top: 20px;
  }
  .portfolio .portfolio_images .images_content .case_icons a {
   color: #A53DFF;
  }
  .portfolio .portfolio_images .images_content .case_icons i {
   margin-left: 12px;
  }
  .portfolio .custom_gap {
   margin-top: 24px;
  }
  .portfolio .custom_btn {
    width: 100%;
    display: inline;
  margin: 0 auto;
  }
  .portfolio .extra {
   
    align-items: center;
    text-align: center;
    padding: 62px 0px 112px 0px;

  }



  .project_idea {
    background-color:  #132238;
    padding: 100px;
  }
  .project_idea .content {
   text-align: center;
  }
  .project_idea .content h2{
    width: 640px;
    margin: 0 auto;
    color: #FFF;
  }
  .project_idea .content .custom_btn{
    margin-top: 32px;
  }
  .project_idea .content .custom_btn i{
   color: #FFFFFF;
   margin-left: 12px;
  }



  .services{
   background-color: #F0F1F3;
  }
  .services .flex_d{
   display: flex;
   align-items: center;
  }
  .services .content_1 p{
   color: #87909D;
   width: 529px;
  }
  .services .content_1 h3{
   margin-bottom: 24px;
   color: #333333;
  }
  .services .content_1 .custom_btn{
   margin-top: 50px;
  }
  .services .content_2{
   padding: 150px 0px;
  }
  .services .content_2 .item p{
   width: 584px;
   color: #556070;
  }
  .services .content_2 .item {
  background-color:#fff;
  padding: 24px;
  border-radius: 6px;
  margin-bottom: 24px;
  transition: .4s;
  border-left: 4px solid transparent;
  }
  .services .content_2 .item:hover {
  background-color:#fff;
  box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
  border-radius: 6px;
  border-left: 4px solid #A53DFF ;
  }



  .happy_client{
  background-color: #ECEEF1;
  padding: 100px 0px;
  }
  .happy_client .content p{
    width: 577px;
    margin: 0 auto;
    color: #87909D;
    padding-top: 24px;
  }
  .happy_client .content {
   text-align: center;
  }
  .happy_client .main {
  display: flex;
  column-gap: 24px;
  }


  .testimonial{
    background-color: #ECEEF1;
    padding-bottom: 100px;
  }
  .testimonial .title{
    text-align: center;
  }
  .testimonial .title p{
    width: 577px;
    margin: auto;
    color: #87909D;
    padding: 24px 0px 70px 0px;
  }
  .testimonial .testimonial_message {
    width: 872px;
    margin: auto;
    text-align: center;
  }
  /* .testimonial .testimonial_message h4,h5{
    text-align: center;
  } */




  .contact{
    background-color:#ECEEF1 ;
    margin-bottom: 300px;
  }
  .contact__css{
    background-color: #fff;
    box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 88px;
    position: relative;
    bottom: -55px;
  }
  .contact__css .contact_item p{
   width: 481px;
   color: #87909D;
  }
  .contact__css .contact_item .contact_info{
  display: flex;
  background-color: #fff;
  width: 336px;
  padding: 24px;
  margin-bottom: 12px;
  transition: .4s;
  border-radius: 10px;
  align-items: center;
  column-gap: 13px;
  }
  .contact__css .contact_item .contact_info:hover {
    box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
    
  }
  .contact__css .contact_item .contact_info i{
       color: #A53DFF;
       width: 48px;
       height: 48px;
       text-align: center;
       line-height: 48px;
       border-radius: 4px;
       background-color: #EDD8FF;
       font-size: 24px;
       transition: .4s;
  }
  .contact__css .contact_item .contact_info i:hover{
       background-color: #A53DFF;
       color: #FFF;
      
  }
  .contact__css .contact_item .contact_info .contact_content a{
    color: #132238;
  }
  .contact__css .contact_item .contact_icons {
   margin-top: 35px;
   }
  .contact__css .contact_item .contact_icons i{
    color: #A53DFF;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 4px;
    transition: .4s;
   }
  .contact__css .contact_item .contact_icons i:hover{
   background-color: #A53DFF;
   color: #FFF;
   }

   .contact_form form{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
   }
   .contact_form {
   margin-top: 50px;
   }
   .contact_form form input {
   border: none;
   outline: none;
   border-bottom: 1px solid #e6e8eb;
   padding-bottom: 14px;
   }
   .contact_form textarea {
   border: none;
   outline: none;
   resize: none;
   border-bottom: 1px solid #e6e8eb;
   /* padding-bottom: 14px; */
   }
   .contact_form textarea:focus {
    border-bottom: 1px solid #A53DFF;
   }
   .contact_form textarea:focus::placeholder {
    color: #A53DFF;
   }
   .contact_form form input:focus {
   border-bottom: 1px solid #A53DFF;
   
   }
   .contact_form form input:focus::placeholder {
   color: #A53DFF;
   
   }
   .contact_form form input::placeholder {
   font-size: 18px;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 24px;
   font-family: 'Work Sans', sans-serif;
   }
  .contact_box :first-child{
   width: 40%;
   margin-right: 24px;
   }
   .contact_box :last-child{
   width: 54%;
   }
   .contact_form form button{
    width: 141px;
    border: none;
    outline: none;
    padding: 12px 24px;
    background-color: #A53DFF;
    color: #FFF;
    border-radius: 4px;
   }

   .contact footer{
    padding: 208px 0px 98px 0px;
    background-color: #2B384C;
    /* height: 330px; */
   }
   .contact footer .main{
   display: flex;
   align-items: center;
   
   }
   .contact footer .main .item_2 ul{
   display: flex;
   column-gap: 12px;
   }
   .contact footer .main .item_2{
   margin: 0px 182px 0px 182px;
   }
   .contact footer .main .item_2 ul li{
  color: #F0F1F3;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
   }
   .contact footer .main .item_3 p{
  color: #Fff;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
   }
  

  
