/* =========================================== common css start ============================================================= */
*{
  padding: 0;
  margin: 0;
}
.font_work{
font-family: 'Work Sans', sans-serif;
}
.font_pop{
  font-family: 'Poppins', sans-serif;
}
.font_l{

  font-weight: 300;
}
.font_r{
  font-weight: 400;
}
.font_m{
  font-weight: 500;
}
.font_sb{
  font-weight: 600;
}
.font_12{
  font-size: 12px;
}
.font_14{
  font-size: 14px;
}
.font_16{
  font-size: 16px;
}
.font_18{
  font-size: 18px;
}
.font_20{
  font-size: 20px;
}
.font_32{
  font-size: 32px;
}
.font_38{
  font-size: 38px;
}
.font_48{
  font-size: 48px;
}
.font_72{
  font-size: 72px;
}
ul,ol{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
.custom_btn{
  background-color: #A53DFF;
  padding: 14px 24px;
  border-radius: 4px;
  display: inline-block;
}
.custom_btn a{
    color: #FFF
  }
/* =========================================== common css end ============================================================= */
.navbar{
  position: absolute;
  width: 100%;
  top: 65px;
  transform: translateY(-50px);

}
nav ul {
  column-gap: 48px;
}
nav ul li:last-child{
  margin-right: 24px;
}
nav ul li a{
 color: #333333;
}






.myself {
  margin-top: 126px;
  padding-bottom: 191px;
}
.myself .intro h1 {
 width: 438px;
 margin-top: 22px;
}
.myself .intro p {
 width: 650px;
 padding:24px 0px 12px 0px ;
 color: #556070;
}
.myself .main {
 display: flex;
 column-gap: 2px;
 margin-top: 142px;
}
.myself .main .item {
background-color: #EDD8FF;
text-align: center;
padding: 17px 45px;
}
.myself .main .item h2 {
color: #424E60;
}
.myself .main .item h3 {
color: #697484;
}
.myself .dp {
text-align: center;
}




#about{
  background-color: #F0F1F3;
}
  
#about .custom_banner{
  background-color: #FFFFFF;
  border-radius: 16px;
  
}
#about .custom_banner .about_img{
  padding: 112px 136px 148px 112px;
}
.about_img{
  position: relative;
}
.about_icons{
  position: absolute;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  bottom: 111px;
  left: 197px;
  /* transform: translateY(-50%,-50%); */
  
}
.about_icons i{
 color: #A53DFF;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
  transition: .4s;
}
.about_icons i:hover{
  background-color: #A53DFF;
  color: #FFFFFF;
}
#about .custom_banner .content h2{
  width:536px ;
  color: #132238;
}
  
#about .custom_banner .content p{
  width:536px ;
  color: #87909D;
}
#about .custom_banner .content {
    margin-top: 164px;
}
.custom_btn2{
  display: inline-block;
  border: 2px solid #A53DFF;
  border-radius: 4px;
  margin-left: 24px;
  
  
}
  .custom_btn2 a{
    color: #A53DFF;
    padding: 12px 24px;
    display: inline-block;
  }
  




  .flex_d{
    display: flex;
    align-items: center;
  }
  .item {
    column-gap: 13px;
   
  }
  .item .custom_item{
    background-color: #FFFFFF;
   border-radius: 16px;
    padding: 24px;
    }
  .item .custom_item h3{
    margin-top: 32px;
    color: #132238;
    }
  .item .custom_item p{
    color: #556070;
    }
  .item .custom_item:hover{
    box-shadow: 32px 32px 124px rgba(43, 56, 76, 0.1);
    }
  .item .custom_mrgn{
    margin-top: 28px;
    }
  
  .work_process{
    padding: 160px 0px 140px 0px;
  }
  .work_process .process p{
    width: 529px;
  }





  .portfolio  {
    background-color: #ECEEF1;
  }
  .portfolio .content{
    text-align: center;
  }
  .portfolio .content h2{
   padding: 100px 0px 24px 0px;
   color: #132238;
  }
  .portfolio .content p{
   width: 577px;
   color: #87909D;
   margin: 0 auto;
   padding-bottom: 70px;
  }
  .portfolio .portfolio_images .main{
    /* background-color: #fff; */
  }
  .portfolio .portfolio_images .images_content{
    padding: 32px;
    background-color: #fff;
  }
  .portfolio .portfolio_images img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  .portfolio .portfolio_images .images_content h4{
    padding: 4px 0px 12px 0px;
  }
  .portfolio .portfolio_images .images_content h5,h6{
   color: #87909D;
  }
  .portfolio .portfolio_images .images_content a{
   padding: 12px 24px;
   border: 1px solid #A53DFF;
   border-radius: 4px;
  }
  .portfolio .portfolio_images .images_content .case_icons {
   margin-top: 20px;
  }
  .portfolio .portfolio_images .images_content .case_icons a {
   color: #A53DFF;
  }
  .portfolio .portfolio_images .images_content .case_icons i {
   margin-left: 12px;
  }
  .portfolio .custom_gap {
   margin-top: 24px;
  }
  .portfolio .custom_btn {
    width: 100%;
    display: inline;
  margin: 0 auto;
  }
  .portfolio .extra {
   
    align-items: center;
    text-align: center;
    padding: 62px 0px 112px 0px;

  }



  .project_idea {
    background-color:  #132238;
    padding: 100px;
  }
  .project_idea .content {
   text-align: center;
  }
  .project_idea .content h2{
    width: 640px;
    margin: 0 auto;
    color: #FFF;
  }
  .project_idea .content .custom_btn{
    margin-top: 32px;
  }
  .project_idea .content .custom_btn i{
   color: #FFFFFF;
   margin-left: 12px;
  }
